# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# iOS/macOS related
**/ios/Pods/
**/macos/Pods/
**/ios/.symlinks/
**/macos/.symlinks/
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/GeneratedPluginRegistrant.swift
ios/.generated/
macos/.generated/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows specific
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# Windows build artifacts
windows/flutter/ephemeral/
windows/CMakeFiles/
windows/cmake_install.cmake
windows/CMakeCache.txt

# Generated plugin registrant
**/generated_plugin_registrant.dart
**/generated_plugin_registrant.h
**/generated_plugin_registrant.cc
**/GeneratedPluginRegistrant.swift
**/GeneratedPluginRegistrant.m